@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
::-webkit-scrollbar {
    width: 0;
}
  ::-moz-selection {
    background-color: #ff0000;
    color: #fff;
}
::selection {
    background-color: #ffaaaa;
    color: #fff;
}

.p{
    color: white;
    display: block;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
}
.fi{
    width: 2em;
    height: 1em;
    float: left;
    clear: left;
    display: block;
    position: relative;
}
#background1{
    box-sizing: border-box;
    width: 56em;
    height: 2500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    padding-top: 50px;
    padding-left: 2rem;
    padding-right: 2rem;

    background: rgba(44, 44, 44, 0.66);
    border: 3px solid #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(64px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 25px;
}
body{
    background: linear-gradient(180deg, rgba(255, 169, 169, 0.970833) 2.4%, #FF9292 100%);
    width: 99%;
    height: 2579px;
}
#page_container{
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
    width: 56em;
}
.page_switcher{
    box-sizing: border-box;
    position: absolute;
    width: 28rem;
    height: 52px;
    background: rgba(44, 44, 44, 0.66);
    border: solid #FFFFFF;
    border-width: 3px 1.5px 3px 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(32px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 25px 0px 0px 25px;
    transition: 0.2s;

}
.page_switcher:hover{
    transition: 0.3s;
    background-color: #FF9292;
}
#left{
    margin-left: 33.6em;
    border-radius: 0px 25px 25px 0px;
    border-width: 3px 3px 3px 1.5px;
}
.page_text{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 4em;
}